[submodule "Alamofire"]
	path = Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "AlamofireObjectMapper"]
	path = AlamofireObjectMapper
	url = git@github.com:tristanhimmelman/AlamofireObjectMapper.git
[submodule "Bond"]
	path = Bond
	url = git@github.com:SwiftBond/Bond.git
[submodule "ObjectMapper"]
	path = ObjectMapper
	url = https://github.com/Hearst-DD/ObjectMapper.git
[submodule "gifu"]
	path = gifu
	url = https://github.com/kaishin/gifu.git
[submodule "AnimatedGIFImageSerialization"]
	path = AnimatedGIFImageSerialization
	url = https://github.com/mattt/AnimatedGIFImageSerialization.git
[submodule "FLAnimatedImage"]
	path = FLAnimatedImage
	url = https://github.com/Flipboard/FLAnimatedImage.git
[submodule "APNGKit"]
	path = APNGKit
	url = https://github.com/onevcat/APNGKit.git
